* {
    margin:0; /* para tirar a margem do site, senão fica uma borda preta*/

}
body{
    line-height: 2; /*espaçamento entre linhas, eu acho*/
    background-color: black;
    min-height: 185vh; /*altura/espaço dísponível no site*/
    
    flex-direction: column; /*orientação da direção para os itens, nesse caso em colunas ao invés de linhas*/
    display: flex; /*para deixar o display flexível e personalizável*/
}
header{
    background-color: white ;
    text-align: center;
    height: 80px;
    width: 101%; /*101% porque estava faltando um pouco do cabeçalho, do site todo, na verdade, mas só consegui consertar o cabeçalho*/
}

a{ 
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px; /*distância entre a letra e as bordas*/
    border: none; /*sem borda*/
    border-radius: 10px; /*arredondamento das bordas*/
    cursor: pointer; /*para o cursor do mouse virar a "mãozinha"*/
    position: relative;
    left: 35%;
    bottom: 100%;
    transition: background-color 0.6s; /*transição de uma cor para outra*/
    transition: color 0.6s;
}
a:hover{
    background-color: black; /*cor final*/
    color: white;

} /*nome do item + :hover*/

main{
    
padding: 10px;
    flex: 1;
    margin: 2px;
}
#sobre{
    color: black;
}
section{
    background: white;
        padding: 5px;
        width: 10%;
        border-radius: 10px;
        flex: 3;
        margin: 10px;
}

#secao{
    display:flex;
    justify-content: space-between;
}

h2{
    text-align: center;
    color: black;
    
}

#video{
    text-align: center;
    margin: 80px;
}
#video iframe{
    background-color: black;
    border-radius: 10px;
    width: 100%;
    max-width: 325px;
}
p{
    color: black;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    text-align: center;
    padding: 18px;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 160px;
    

}
#textozap{
    position:relative;
    top: -2px;
    left: -20%;
}
#infozap{
    position:relative;
    top: 7px;
    left: -20%;
    font-size: 1.2rem;
}

#botaozap{
    position: relative;
    top:-25px;
    left: 30%;
    bottom: 100%;
    font: Helvetica;
    font-size: 1.9rem;

    
    color: white;
    background-color: rgb(7, 126, 7);
    
}
#zaplogo{
    position:absolute;
    top: 1723px;
    left: 529px;
}
#textozap{
    color: black;
    position: relative;
    left: 20px;
    transition: color 0.5s;
    border: none;
    margin: 0%;
}
#textozap:hover{
    color: green;
    background-color: white;
}
#textoapp{
    color: black;
    position: relative;
    left: 0px;
    transition: color 0.5s;
    border: none;
    margin: 0%;
}
#textoapp:hover{
    color: gray;
    background-color: white;
}